.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 New Pin
			.panel-body
				%strong.center Current Image
				%br/
				= image_tag @pin.image.url(:medium)
				= render 'form'
				



.col-md-6.col-md-offset-3
	%h1 Edit Pin
	= image_tag @pin.image.url(:medium)
	= render 'form' 
	= link_to "Cancel", pin_path